<div class="container-divider"></div>
<div id="main-content" class="error-page">
  <h1>{{t 'oops'}}</h1>

  {{#is error 'unauthorized'}}
    <h2>{{link 'sign_in'}}</h2>
  {{/is}}

  {{#is error 'forbidden'}}
    <h2>{{t 'not_authorized'}}</h2>
  {{/is}}

  {{#is error 'not_found'}}
    <h2>{{t 'nonexistent_page'}}</h2>
    <p>{{t 'mistyped_address_or_moved_page'}}</p>
  {{/is}}

  {{#link 'help_center'}}
    {{t 'back_to_homepage'}}
  {{/link}}
  <div class="callout callout--success">
  <h4 class="callout__title">This is a success callout</h4>
  <p>I'm a success callout!</p>
</div>
<div class="callout callout--info">
  <h4 class="callout__title">This is an info callout</h4>
  <p>I'm a neutral info callout!</p>
</div>
<div class="callout callout--warning">
  <h4 class="callout__title">This is a warning callout</h4>
  <p>And now I'm going to tell you something very important! Pay attention to me!</p>
</div>
<div class="callout callout--danger">
  <h4 class="callout__title">This is a caution callout</h4>
  <p>And here there's some critical information you have to know!</p>
</div>
</div>

<style type="text/css">.ces{display: none;}</style>