<footer class="footer">
  <div class="footer-inner">
    <div class="footer-logo">
      <img src="{{asset 'white-logo.png'}}">
      <p>&copy; Boundary Technologies Ltd 2022. All Rights Reserved. Company number SC594509, registered in Scotland. </p>
<p>Boundary is a registered trademark of Boundary Technologies Ltd in Europe, registration number 018024756. The house device is a registered trademark of Boundary Technologies Ltd in the UK, registration number 3460640.</p>
      <div class="footer-logos">
        <ul>
          <li><a href="https://registry.blockmarktech.com/certificates/373fd66d-2c62-437f-a916-467664c21fd5/" target="_blank" rel="noopener"><img src="{{asset 'logo_blockmarktech.png'}}"></a></li>
          <li><a href="https://z-wavealliance.org" target="_blank" rel="noopener"><img src="{{asset 'logo_zwave.png'}}"></a></li>
          <li><a href="" target="_blank" rel="noopener"><img src="{{asset 'logo_bsia.png'}}"></a></li>
          <li><a href="https://scottishbusinesspledge.scot/" target="_blank" rel="noopener"><img src="{{asset 'logo_sbp.png'}}"></a></li>
          <li><a href="https://www.iotsecurityfoundation.org" target="_blank" rel="noopener"><img src="{{asset 'logo_iot.png'}}"></a></li>
          <li><a href="https://boundary.co.uk/app/uploads/2021/03/0107141_ENG_Boundary-Technologies-Ltd.pdf" target="_blank" rel="noopener"><img src="{{asset 'logo_intertek.png'}}"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-account">
      <a href="https://myaccount.boundary.co.uk/" target="_blank" class="my-account">My Account</a>
<p>Manage your account and communication preferences.</p>
      <div class="footer-grid">
        <div class="footer-grid-col">
          <ul>
            <li><a href="https://support.boundary.co.uk/hc/en-gb">Boundary Help &#038; Support</a></li>
            <li><a href="https://boundary.co.uk/shop/">Boundary Shop</a></li>
            <li><a href="https://boundary.co.uk/monthly-plans/">Monthly Plans</a></li>
            <li><a href="https://boundary.co.uk/klarna/">Klarna Pay Later FAQs</a></li>
            <li><a href="https://support.boundary.co.uk/hc/en-gb/articles/360002798318-How-do-I-contact-Boundary-">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-grid-col">
          <ul>
            <li><a href="https://boundary.co.uk/privacy-policy/">Privacy Policy</a></li>
            <li><a href="https://boundary.co.uk/cookie-policy/">Cookie Policy</a></li>
            <li><a href="https://boundary.co.uk/terms-and-conditions/">Terms and conditions</a></li>
            <li><a href="https://boundary.co.uk/vulnerability-disclosure-policy/">Vulnerability Disclosure Policy</a></li>
          </ul>
        </div>
        <div class="footer-grid-col">
          <ul>
              <li><a href="https://jumpinto.boundary.co.uk/">Careers (We&#8217;re Hiring)</a></li>
              <li><a href="https://boundary.co.uk/press-area/">Press Area</a></li>
              <li><a href="https://boundary.co.uk/blog/">Blog</a></li>
              <li><a href="https://boundary.co.uk/meet-the-team/">Meet the Team</a></li>
              <li><a href="https://www2.boundary.co.uk/alarm-installers">Installer Partnerships</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
<script type="text/javascript">
  window.zESettings = {
    webWidget: {
      answerBot: {contactOnlyAfterQuery: true},
      launcher: {
        label: {'*': 'Got Questions?'},
      }
    }
  };
</script>
</footer>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHero");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>


